
table {
    color: green;
    color: blue;
}

/* overrides the previous color for this selector */
table {
    color: green;
    font-family: "Quicksand", sans-serif;
}

tr {
    border-color: blue;
    border-width: 5px;
    border: 1px solid blue;
    border-style: dotted;
}

th {
    color: green;
    font-size: 32px;
}

.yellow {
    color: green;
    background-color: green;
    border-style: dotted;
    padding: 10px;
    margin: 0px;
}

body {
    margin: 10px;
}

.large {
    font-size: 32px;
}

ul ul {
    color: blue;
}

.second-list {

}

/* 
selector(s) {
    property: value;
    property: value;
    property: value;
    property: value;
}
*/